<!-- homepage.handlebars -->
<h1>Homepage</h1>
{{#each posts}}
  <div>
    <h2><a href="/dashboard/post/{{ id }}">{{ title }}</a></h2>
    <p>{{ content }}</p>
    <p>Created by: {{ user.username }} on {{ formatDate createdAt }}</p>
  </div>
{{/each}}
